/* layouts/header */
    .header .container{
        padding: none !important;
    } 
/* end layouts/header */

/* GENERAL CONFIGS */
    .upper{
        text-transform: uppercase !important;
    }
    .select-icon-text{
        color: white !important;
        font-size: 15px !important;
    }
    .align-center{
        text-align: center;
    }
    .table .fa-users-cog{
        font-size: 35px !important;
    }
    .title-form{
        color:#7e7d7d;
        font-weight: bolder;
    }
/* END GENERAL CONFIGS */

/* Dashboard */
    .dashboard{
        margin-top: 20px;
        padding: none !important;
    }
    .dashboard .title{
        border-bottom: solid #ededed 2px;
        height: 100px;
        padding: 0px 0px !important;
    }
    .dashboard a{
        text-decoration: none;
        color: #212529;
    }
    .title .fa-battle-net{
        font-size: 70px !important;
    }
/* End of Dashboard */

/* Options */
    .options{
        height: 250px;
        margin-top: 20px;
        border-bottom: solid #ededed 2px;
    }
    .options .btn-config{
        height: 200px;
        width: 200px;
    }
    .options .btn-config i{
        font-size: 85px;
    }
    #insert, #select{
        margin-top: -2px;
    }
    
    .ctn-form{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .ctn-form form{
        width: 320px;
    }
    .ctn-form button{
        width: 100%;
    }
/* End of Options*/




/* partial/update */

/* end partial/update */